<div class="modal" id="addProvider" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">NUEVO PROVEEDOR</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
      </div>

      <div class="modal-body">
          <form action="" method="POST">  

            <div class="form-group">
              <div class="row gutters-xs">
                  <div class="col-6">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" id="nombre" name="nombre" type="text" required> 
                  </div>
                  <div class="col-6">
                    <label for="razonSocial">Razón Social</label>
                    <input class="form-control" id="razonSocial" name="razonSocial" type="text" required> 
                  </div>
              </div>  
            </div>

            <div class="form-group">
              <label for="rfc">RFC</label>
              <input class="form-control" id="rfc" name="rfc" type="text" required> 
            </div>
            
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <textarea class="form-control" rows="2" id="direccion" name="direccion" required></textarea>   
            </div>
            
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-icon">
                  <span class="input-icon-addon">
                      <i class="fe fe-mail"></i>
                  </span>
                  <input class="form-control" id="email" name="email" type="email" required> 
              </div>  
            </div>

            <div class="form-group">
              <div class="row gutters-xs">
                <div class="col-6">
                  <label for="telefono">Teléfono</label>
                  <div class="input-icon">
                      <span class="input-icon-addon">
                          <i class="fe fe-phone"></i>
                      </span>
                    <input class="form-control" id="telefono" name="telefono" type="text" required>
                  </div>
                </div>
                <div class="col-6">
                  <label for="contacto">Nombre Contacto</label>
                  <div class="input-icon">
                      <span class="input-icon-addon">
                          <i class="fe fe-user"></i>
                      </span>
                    <input class="form-control" id="contacto" name="contacto" type="text" required> 
                  </div> 
                </div>
              </div>
            </div> 

            <div id="alert" class=""><strong id="tituloMensaje"></strong><span id="mensajes"></span></div>
          </form>
      </div>

      <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar">
        <button type="button" class="btn btn-warning cerrar" data-dismiss="modal" name="cerrar">Cerrar</button>
      </div>
    </div>

  </div>
</div> 
