<div class="modal" id="addAnimal" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">NUEVA MASCOTA</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
        </div>
  
        <div class="modal-body">
            <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">  
  
              <div class="form-group">
                  <div class="row gutters-xs">
                      <div class="col-6">
                          <label for="cliente">Cliente</label>
                          <select class="form-control custom-select" id="client" name="client" formControlName="client">
                            <option value="">Seleccionar cliente...</option>
                          </select> 
                      </div>
  
                      <div class="col-6">
                        <label for="animal">Nombre de mascota</label>
                        <input class="form-control" id="name" name="name" type="text" formControlName="name"> 
                      </div>
                  </div>  
              </div>
              
              <div class="form-group">
                  <div class="row gutters-xs">
                      <div class="col-6">
                          <label for="sexo">Sexo</label>
                          <select class="form-control custom-select" id="sex" name="sex" formControlName="sex">
                            <option value="">Seleccionar...</option>
                            <option value="">Hembra</option>
                            <option value="">Macho</option>
                          </select> 
                      </div>
                      
                      <div class="col-6">
                        <label for="fechanac">Fecha de nacimiento</label>
                        <input class="form-control" id="birthdate" name="birthdate" type="date" formControlName="birthdate"> 
                      </div>
                  </div>  
              </div>
  
              <div class="row gutters-xs">
                <div class="col-6">
                  <div class="form-group">
                    <label class="especie">Especie</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="specie" name="specie" formControlName="specie">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="col-6">
                  <div class="form-group">
                    <label class="raza">Raza</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="race" name="race" formControlName="race">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row gutters-xs">
                <div class="col-6">
                  <div class="form-group">
                    <label class="caracter">Carácter</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="character" name="character" formControlName="character">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="col-6">
                  <div class="form-group">
                    <label class="pelo">Pelo</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="hair" name="hair" formControlName="hair">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row gutters-xs">
                <div class="col-6">
                  <div class="form-group">
                    <label class="habitat">Hábitat</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="habitat" name="habitat" formControlName="habitat">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="col-3">
                  <label for="peso">Peso</label>
                  <input class="form-control" id="weight" type="text" name="weight" formControlName="weight"> 
                </div>
  
                <div class="col-3">
                  <label for="altura">Altura</label>
                  <input class="form-control" id="height" type="text" name="height" formControlName="height"> 
                </div>
              </div>
  
              <div class="form-group">
                <label class="">Selecciona</label>
                <div>
                  <div class="form-check custom-control custom-checkbox custom-control-inline">
                    <input class="form-check-input" type="checkbox" value="" id="sterilized" name="sterilized" formControlName="sterilized">
                    <label class="form-check-label" for="esterilizado">
                      Esterilizado
                    </label>
                  </div>
  
                  <div class="form-check custom-control custom-checkbox custom-control-inline">
                    <input class="form-check-input" type="checkbox" value="" id="nails" name="nails" formControlName="nails">
                    <label class="form-check-label" for="unias">
                      Uñas largas
                    </label>
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label for="observaciones">Observaciones</label>
                <textarea class="form-control" rows="2" id="notes" name="notes" formControlName="notes"></textarea>   
              </div>
  
              <div class="form-group">
                <label for="foto">Fotografías</label>
                <textarea class="form-control" rows="2" id="image" name="image" formControlName="image"></textarea>   
              </div>
  
              <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
              </div>

              <br>
              <div class="modal-footer d-flex">
                <button type="button" class="btn btn-warning cerrar" (click)="cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
                <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" [disabled]="!animalForm.valid">
              </div>
            </form>
        </div>
      </div>
  
    </div>
  </div> 
