<div class="row">
  <div class="col-12 card">
      <div class="card-header">
          <h3 class="card-title">Clientes</h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="input-icon mb-3 search">
                  <input type="text" class="form-control" placeholder="Filtrar Clientes...">
                  <span class="input-icon-addon">
                      <i class="fe fe-search"></i>
                  </span>
              </div>
              <div class="col-md-1 col-lg-1">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClient">
                      <i class="fe fe-plus-circle mr-2"></i>
                      Nuevo
                  </button>
              </div>
          </div>
      </div>
  </div>
  <div class="col-12 card">
      <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
              <thead>
                  <tr>
                      <th class="w-1">ID</th>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Apellido Materno</th>
                      <th>Edad</th>
                      <th>Dirección</th>
                      <th>Teléfono</th>
                      <th>Email</th>
                      <th>Estado</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <td><span class="text-muted">1</span></td>
                  <td>TERESA</td>
                  <td>GALAVIZ</td>
                  <td>ALEJOS</td>
                  <td>21</td>
                  <td>Cipres Residencial del valle</td>
                  <td>6681223311</td>
                  <td>tere@gmail.com</td>
                  <td>
                      <span class="status-icon bg-success"></span> Activo
                  </td> 
                  <td>
                      <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-eye mr-2" style="color:blue;"></i>
                      </a>
                      <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-edit mr-2" style="color:orange;"></i>
                      </a>
                      <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-minus-circle mr-2" style="color:red;"></i>
                      </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!--MODAL ALTA-->
<app-addclients></app-addclients>
<!--MODAL ALTA END-->
