<div class="row">
    <div class="col-12 card">
        <div class="card-header">
            <h3 class="card-title">Cambiar Contraseña</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                        <label class="form-label">Contraseña nueva</label>
                        <input type="password" class="form-control" id="password_new" name="password_new" formControlName="password_new">
                        </div>
                        <div class="form-group">
                        <label class="form-label">Verificar contraseña nueva</label>
                        <input type="password" class="form-control" id="password_check" name="password_check" formControlName="password_check">
                        </div>

                        <div class="alert alert-success" *ngIf="status == 'success'">
                        {{message}}
                        </div>
                        <div class="alert alert-danger" *ngIf="status == 'error'">
                        {{message}}
                        </div>
        
                        <br>
                        <button type="submit" class="btn btn-primary" [disabled]="!settingForm.valid || status=='success'">
                            <i class="fas fa-save mr-1"></i>
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
