<div class="modal hide fade modal-sm sub-modal" id="addJob" tabindex="-1">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">NUEVO PUESTO</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
      </div>

      <div class="modal-body">
          <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">  

            <div class="form-group">
              <label for="nombre">Nombre </label>&nbsp;
              <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="jobForm.controls.name.invalid && jobForm.controls.name.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
              <div class="input-icon">
                  <span class="input-icon-addon">
                      <i class="fe fe-user"></i>
                  </span>
                <input class="form-control" id="name" name="name" type="text" formControlName="name"> 
              </div>  
            </div>

            <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
            </div>

            <br>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-warning cerrar" (click)="cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
              <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar">
            </div>

          </form>
      </div>
    </div>
  </div>
</div> 