<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" [routerLink]="['/home']">
        <img src="../../assets/img/vetanimal.png" class="header-brand-img" alt="tabler logo">
      </a>
        <div class="d-flex order-lg-2 ml-auto">
        <!--FOTO DE USUARIO Y CONFIGURACIONES-->
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <div class="avatar">
                <i class="fa fa-user"></i>
            </div>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">{{identity.username}}</span>
              <small *ngIf="identity.role=='ADMIN'" class="text-muted d-block mt-1">Administrador</small>
              <small *ngIf="identity.role=='VET'" class="text-muted d-block mt-1">Veterinario</small>
              <small *ngIf="identity.role=='CAJERO'" class="text-muted d-block mt-1">Cajero</small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" [routerLink]="['/configuracion']">
              <i class="dropdown-icon fe fe-settings"></i> Cambiar contraseña
            </a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">
              <i class="dropdown-icon fe fe-log-out"></i> Cerrar sesión
            </a>
          </div>
        </div>
        <!--FIN DE FOTO DE USUARIO Y CONFIGURACIONES-->
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"  data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>

<!--MENU-->
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-home"></i> Home
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='CAJERO'">
            <a [routerLink]="['/tienda']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-shopping-cart"></i> Tienda
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='VET'">
            <a [routerLink]="['/consultas']" [routerLinkActive]="['active']" class="nav-link">
              <i class="far fa-clipboard"></i> Consultas
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='VET'">
            <a [routerLink]="['/clientes']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-user"></i> Clientes
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='VET'">
            <a [routerLink]="['/animales']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fas fa-paw"></i> Mascotas
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='ADMIN'">
            <a [routerLink]="['/empleados']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-user"></i> Empleados
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='ADMIN'">
            <a [routerLink]="['/proveedores']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-truck"></i> Proveedores
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='ADMIN'">
            <a [routerLink]="['/productos']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fe fe-box"></i> Productos
            </a>
          </li>
          <li class="nav-item" *ngIf="identity.role=='ADMIN'">
            <a [routerLink]="['/informes']" [routerLinkActive]="['active']" class="nav-link">
              <i class="fas fa-clipboard-list"></i> Informes
            </a>
          </li>
          
          <li class="nav-item" *ngIf="identity.role=='ADMIN' || identity.role=='CAJERO'">
              <a [routerLink]="['/actividades']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-calendar-alt"></i> Agenda
              </a>
            </li>
          <li class="nav-item dropdown" *ngIf="identity.role=='ADMIN'">
            <a [routerLinkActive]="['active']" class="nav-link" data-toggle="dropdown"><i class="fe fe-settings"></i> Panel de Control</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a [routerLink]="['/usuarios']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fe fe-user"></i>Usuarios
              </a>
              <a [routerLink]="['/puestos']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-briefcase"></i>Puestos
              </a>
              <a [routerLink]="['/caracter']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-paw"></i>Carácter de Mascotas
              </a>
              <a [routerLink]="['/habitat']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-paw"></i>Hábitat de Mascotas
              </a>
              <a [routerLink]="['/tipos-pelo']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-paw"></i>Tipos de pelo de Mascotas
              </a>
              <a [routerLink]="['/especies']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-paw"></i>Especies
              </a>
              <a [routerLink]="['/razas']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fas fa-paw"></i>Razas
              </a>
              <a [routerLink]="['/unidades']" [routerLinkActive]="['active']" class="dropdown-item ">
                <i class="fe fe-box"></i>Unidad de Medida
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

