<div class="row">
  <div class="col-12 card">
      <div class="card-header">
          <h3 class="card-title">Proveedores</h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="input-icon mb-3 search">
                  <input type="text" class="form-control busq" placeholder="Filtrar Proveedores..." [(ngModel)]="busqueda">
                  <span class="input-icon-addon">
                      <i class="fe fe-search"></i>
                  </span>
              </div>
              <div class="col-md-1 col-lg-1">
                  <button type="button" class="btn btn-primary" (click)="openModal(addprovider)">
                      <i class="fe fe-plus-circle mr-2"></i>
                      Nuevo
                  </button>
              </div>
          </div>
      </div>
  </div>

    <div class="">
        <button (click)="cambiarPag(-5)" class="btn btn-secondary" [disabled]="pag <= 0">Anteriores</button>
        <button (click)="cambiarPag(5)" class="btn btn-secondary" [disabled]="pag+5 >= totalRegistros">Siguientes</button>
    </div>
  <div class="col-12 card">
      <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
              <thead>
                  <tr>
                      <th class="w-1">#</th>
                      <th>Nombre</th>
                      <th>Razón Social</th>
                      <th>RFC</th>
                      <th>Nombre contacto</th>
                      <th>Teléfono</th>
                      <th>Email</th>
                      <th>Fecha Alta</th>
                      <th>Fecha Baja</th>
                      <th>Estado</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let provider of providers | searchProvider: busqueda; index as i">
                        <td><span class="text-muted">{{i+1+pag}}</span></td>
                        <td>{{provider.name}}</td>
                        <td>{{provider.business_name}}</td>
                        <td>{{provider.rfc}}</td>
                        <td>{{provider.contact_person}}</td>
                        <td>{{provider.tel}}</td>
                        <td>{{provider.email}}</td>
                        <td>{{provider.start_date | dates}}</td>
                        <td *ngIf="provider.end_date != '' && provider.end_date != null">{{provider.end_date | dates}}</td><td *ngIf="provider.end_date == '' || provider.end_date == null">---</td>
                        <td>
                            <span [ngClass]="{'bg-success': provider.status === 'A', 'bg-danger': provider.status === 'B'}" class="status-icon"></span> {{provider.status}}
                        </td>
                        <td>
                            <a class="icon" (click)="openModaldetails(detailsprovider, provider)">
                                <i class="fe fe-eye mr-2" style="color:blue;" data-toggle="tooltip" title="Ver"></i>
                            </a>
                            <a class="icon" (click)="openModaledit(editprovider, provider)">
                                <i class="fe fe-edit mr-2" style="color:orange;" data-toggle="tooltip" title="Editar"></i>
                            </a>
                            <a class="icon" (click)="openModalStatus(deactivateprovider, provider)" *ngIf="provider.status==='A'">
                                <i class="fe fe-minus-circle mr-2" style="color:red;" data-toggle="tooltip" title="Desactivar"></i>
                            </a>
                            <a class="icon" (click)="openModalStatus(activateprovider, provider)" *ngIf="provider.status==='B'">
                                <i class="far fa-check-circle mr-2" style="color:green;" data-toggle="tooltip" title="Activar"></i>
                            </a>
                        </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!--MODAL ALTA-->
<ng-template #addprovider let-modal>
    <div class="modal-header">
        <h4 class="modal-title">NUEVO PROVEEDOR</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>

    <div class="modal-body">
        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">  

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" id="name" name="name" formControlName="name"> 
                </div>
                <div class="col-6">
                    <label for="razonSocial">Razón Social</label>
                    <input class="form-control" type="text" id="business_name" name="business_name" formControlName="business_name"> 
                </div>
            </div>  
            </div>

            <div class="form-group">
            <label for="rfc">RFC</label>
            <input class="form-control" id="rfc" name="rfc" type="text" formControlName="rfc"> 
            </div>
            
            <div class="form-group">
            <label for="direccion">Dirección</label>
            <textarea class="form-control" rows="2" id="address" name="address" formControlName="address"></textarea>   
            </div>
            
            <div class="form-group">
            <label for="email">Email</label>
            <div class="input-icon">
                <span class="input-icon-addon">
                    <i class="fe fe-mail"></i>
                </span>
                <input class="form-control" type="email" id="email" name="email" formControlName="email"> 
            </div>  
            </div>

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                <label for="telefono">Teléfono</label>
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="fe fe-phone"></i>
                    </span>
                    <input class="form-control" type="text" id="tel" name="tel" formControlName="tel">
                </div>
                </div>
                <div class="col-6">
                <label for="contacto">Nombre Contacto</label>
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="fe fe-user"></i>
                    </span>
                    <input class="form-control" type="text" id="contact_person" name="contact_person" formControlName="contact_person"> 
                </div> 
                </div>
            </div>
            </div> 

            <div class="alert alert-success" *ngIf="status == 'success'">
            Guardado exitosamente.
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
        <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" (click)="onSubmitAddProvider()" [disabled]="!providerForm.valid">
    </div>
</ng-template>
<!--MODAL ALTA END-->

<!--MODAL EDIT-->
<ng-template #editprovider let-modal>
    <div class="modal-header">
        <h4 class="modal-title">EDITAR PROVEEDOR</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>

    <div class="modal-body">
        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">  

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" id="name" name="name" formControlName="name"> 
                </div>
                <div class="col-6">
                    <label for="razonSocial">Razón Social</label>
                    <input class="form-control" type="text" id="business_name" name="business_name" formControlName="business_name"> 
                </div>
            </div>  
            </div>

            <div class="form-group">
            <label for="rfc">RFC</label>
            <input class="form-control" id="rfc" name="rfc" type="text" formControlName="rfc"> 
            </div>
            
            <div class="form-group">
            <label for="direccion">Dirección</label>
            <textarea class="form-control" rows="2" id="address" name="address" formControlName="address"></textarea>   
            </div>
            
            <div class="form-group">
            <label for="email">Email</label>
            <div class="input-icon">
                <span class="input-icon-addon">
                    <i class="fe fe-mail"></i>
                </span>
                <input class="form-control" type="email" id="email" name="email" formControlName="email"> 
            </div>  
            </div>

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                <label for="telefono">Teléfono</label>
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="fe fe-phone"></i>
                    </span>
                    <input class="form-control" type="text" id="tel" name="tel" formControlName="tel">
                </div>
                </div>
                <div class="col-6">
                <label for="contacto">Nombre Contacto</label>
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="fe fe-user"></i>
                    </span>
                    <input class="form-control" type="text" id="contact_person" name="contact_person" formControlName="contact_person"> 
                </div> 
                </div>
            </div>
            </div> 

            <div class="alert alert-success" *ngIf="status == 'success'">
            Cambios guardados exitosamente.
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
        <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" (click)="onSubmitEditProvider()" [disabled]="!providerForm.valid">
    </div>
</ng-template>
<!--MODAL EDIT END-->

<!--MODAL DESACTIVAR-->
<ng-template #deactivateprovider let-modal>
    <div class="modal-header">
        <h4 class="modal-title">DAR DE BAJA</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <p>¿Desea dar de baja al proveedor <strong>{{provider.name}}</strong>?</p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Deactivate')">Dar de Baja</button>
    </div>
</ng-template>
<!--MODAL DESACTIVAR END-->

<!--MODAL ACTIVAR-->
<ng-template #activateprovider let-modal>
    <div class="modal-header">
        <h4 class="modal-title">DAR DE ALTA</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <p>¿Desea dar de alta al proveedor <strong>{{provider.name}}</strong>?</p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Activate')">Dar de Alta</button>
    </div>
</ng-template>
<!--MODAL ACTIVAR END-->

<!--MODAL DETAILS-->
<ng-template #detailsprovider let-modal>
    <div class="modal-header">
        <h4 class="modal-title">DETALLES PROVEEDOR</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>

    <div class="modal-body">
            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                    <label for="nombre" class="form-label">Nombre</label>&nbsp;
                    {{provider.name}}
                </div>
                <div class="col-6">
                    <label for="razonSocial" class="form-label">Razón Social</label>&nbsp;
                    {{provider.business_name}}
                </div>
            </div>  
            </div>

            <div class="form-group">
            <label for="rfc" class="form-label">RFC</label>&nbsp;
            {{provider.rfc}}
            </div>
            
            <div class="form-group">
            <label for="direccion" class="form-label">Dirección</label>&nbsp;
            {{provider.address}}
            </div>
            
            <div class="form-group">
            <label for="email" class="form-label">Email</label>&nbsp;
            {{provider.email}}
            </div>

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                <label for="telefono" class="form-label">Teléfono</label>&nbsp;
                {{provider.tel}}
                </div>
                <div class="col-6">
                <label for="contacto" class="form-label">Nombre Contacto</label>&nbsp;
                {{provider.contact_person}}
                </div>
            </div>
            </div> 

            <div class="form-group">
            <div class="row gutters-xs">
                <div class="col-6">
                <label for="telefono" class="form-label">Fecha Alta</label>&nbsp;
                {{provider.start_date | dates}}
                </div>
                <div class="col-6">
                <label for="contacto" class="form-label">Fecha Baja</label>&nbsp;
                <span *ngIf="provider.end_date != '' && provider.end_date != null">{{provider.end_date | dates}}</span><span *ngIf="provider.end_date == '' || provider.end_date == null">---</span>
                </div>
            </div>
            </div> 
    </div>
    <div class="modal-footer d-flex">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
    </div>
</ng-template>
<!--MODAL DETAILS END-->