<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <form class="card" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="card-body p-6">
              <div class="card-title text-center"><img src="../../assets/img/vetanimal.png" class="h-6" alt=""></div>


              <div class="alert alert-danger" *ngIf="status == 'error'">
                  No te has identificado correctamente
              </div>

              <div class="form-group">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control busq" id="username" name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Usuario">
                <span *ngIf="!username.valid && username.touched">
                    El usuario es obligatorio
                </span>
              </div>

              <div class="form-group">
                <label class="form-label">
                  Password
                  <!--
                  <a href="./forgot-password.html" class="float-right small">I forgot password</a>
                    -->
                </label>
                <input type="password" class="form-control busq" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password">
                <span *ngIf="!password.valid && password.touched">
                    La contraseña es obligatoria
                </span>
              </div>
              
              
  <div class="animated fadeIn" *ngIf="cargando===true">

    
    <div class="alert alert-dark" *ngIf="cargando">
      <div class="row">
          Iniciando sesión &nbsp;&nbsp; <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
  </div>
</div>
              <div class="form-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Entrar">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>