<div class="row">
    <div class="col-12 card">
        <div class="card-header">
            <h3 class="card-title">Empleados</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="input-icon mb-3 search">
                    <input type="text" class="form-control busq" placeholder="Filtrar Empleados..." [(ngModel)]="busqueda">
                    <span class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </span>
                </div>
                <div class="col-md-1 col-lg-1">
                    <button id="tar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWorker">
                        <i class="fe fe-plus-circle mr-2"></i>
                        Nuevo
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <button (click)="cambiarPag(-5)" class="btn btn-secondary" [disabled]="pag <= 0">Anteriores</button>
        <button (click)="cambiarPag(5)" class="btn btn-secondary" [disabled]="pag+5 >= totalRegistros">Siguientes</button>
    </div>

    <div class="col-12 card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th class="w-1">#</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Puesto</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let worker of workers | searchWorker: busqueda; index as i">
                    <td><span class="text-muted">{{i+1+pag}}</span></td>
                    <td>{{worker.name}}</td>
                    <td>{{worker.paternal_surname}}</td>
                    <td>{{worker.maternal_surname}}</td>
                    <td>{{worker.address}}</td>
                    <td>{{worker.tel}}</td>
                    <td>{{worker.email}}</td>
                    <td>{{worker.job.name}}</td>
                    <td>
                        <span [ngClass]="{'bg-success': worker.status === 'A', 'bg-danger': worker.status === 'B'}" class="status-icon"></span> {{worker.status}}
                    </td>
                    <td>
                        <a class="icon" href="#detailsWorker-{{worker._id}}"  role="button" data-toggle="modal">
                            <i class="fe fe-eye mr-2" style="color:blue;" data-toggle="tooltip" title="Ver"></i>
                        </a>
                        <a class="icon" href="#editWorker-{{worker._id}}"  role="button" data-toggle="modal">
                            <i class="fe fe-edit mr-2" style="color:orange;" data-toggle="tooltip" title="Editar"></i>
                        </a>
                        <a class="icon" href="#desactiveWorker-{{worker._id}}" role="button" data-toggle="modal" *ngIf="worker.status==='A'">
                            <i class="fe fe-minus-circle mr-2" style="color:red;" data-toggle="tooltip" title="Desactivar"></i>
                        </a>
                        <a class="icon" href="#activeWorker-{{worker._id}}" role="button" data-toggle="modal" *ngIf="worker.status==='B'">
                            <i class="far fa-check-circle mr-2" style="color:green;" data-toggle="tooltip" title="Activar"></i>
                        </a>
                    </td>
                    
                    <!--MODAL EDITAR-->
                    <app-editworker #editworker [id]="worker._id"
                                    [name]="worker.name"
                                    [paternal_surname]="worker.paternal_surname"
                                    [maternal_surname]="worker.maternal_surname"
                                    [age]="worker.age"
                                    [address]="worker.address"
                                    [tel]="worker.tel"
                                    [email]="worker.email"
                                    [job]="worker.job._id"
                                    [entry_horary]="worker.entry_horary"
                                    [departure_horary]="worker.departure_horary"
                                    [salary]="worker.salary"
                    ></app-editworker>
                    <!--MODAL EDITAR END-->
                    <!--MODAL DETAILS-->
                    <app-detailsworker [id]="worker._id"
                                    [name]="worker.name"
                                    [paternal_surname]="worker.paternal_surname"
                                    [maternal_surname]="worker.maternal_surname"
                                    [age]="worker.age"
                                    [address]="worker.address"
                                    [tel]="worker.tel"
                                    [email]="worker.email"
                                    [job]="worker.job.name"
                                    [entry_horary]="worker.entry_horary"
                                    [departure_horary]="worker.departure_horary"
                                    [salary]="worker.salary"
                    ></app-detailsworker>
                    <!--MODAL DETAILS END-->
                    <!--MODAL DESACTIVAR-->
                    <div id="desactiveWorker-{{worker._id}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">DAR DE BAJA</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea dar de baja al empleado <strong>{{worker.name + " " + worker.paternal_surname + " " + worker.maternal_surname}}</strong>?</p>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger" (click)="deactivateWorker(worker._id)">Dar de Baja</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MODAL DESACTIVAR END-->
                    <!--MODAL DESACTIVAR-->
                    <div id="activeWorker-{{worker._id}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">DAR DE ALTA</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Desea dar de alta al empleado <strong>{{worker.name + " " + worker.paternal_surname + " " + worker.maternal_surname}}</strong>?</p>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger" (click)="activateWorker(worker._id)">Dar de Alta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MODAL DESACTIVAR END-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--MODAL ALTA-->
<app-addworker #addworker></app-addworker>
<!--MODAL ALTA END-->
<!--MODAL PUESTO-->
<div class="modal hide fade modal-sm sub-modal" id="addJob" tabindex="-1">
    <div class="modal-dialog">
  
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">NUEVO PUESTO</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="addworker.getJobsA(); cerrar()"></button>   
    </div>

    <div class="modal-body">
        <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">  

            <div class="form-group">
            <label for="nombre">Nombre </label>&nbsp;
            <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="jobForm.controls.name.invalid && jobForm.controls.name.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
            <div class="input-icon">
                <span class="input-icon-addon">
                    <i class="fe fe-user"></i>
                </span>
                <input class="form-control" id="name" name="name" type="text" formControlName="name"> 
            </div>  
            </div>

            <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
            </div>

            <br>
            <div class="modal-footer d-flex">
            <button type="button" class="btn btn-warning cerrar" (click)="addworker.getJobsA(); cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
            <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" [disabled]="!jobForm.valid">
            </div>

        </form>
    </div>
    </div>
</div>
</div> 
<!--MODAL PUESTO END-->