<div class="row">
    <div class="col-12 card">
        <div class="card-header">
            <h3 class="card-title">Empleados</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="input-icon mb-3 search">
                    <input type="text" class="form-control" placeholder="Filtrar Empleados..." [(ngModel)]="busqueda">
                    <span class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </span>
                </div>
                <div class="col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWorker">
                        <i class="fe fe-plus-circle mr-2"></i>
                        Nuevo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th class="w-1">ID</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Puesto</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let worker of workers | searchWorker: busqueda; index as i">
                    <td><span class="text-muted">{{i+1}}</span></td>
                    <td>{{worker.name}}</td>
                    <td>{{worker.paternal_surname}}</td>
                    <td>{{worker.maternal_surname}}</td>
                    <td>{{worker.address}}</td>
                    <td>{{worker.tel}}</td>
                    <td>{{worker.email}}</td>
                    <td>{{worker.job.name}}</td>
                    <td>
                        <span [ngClass]="{'bg-success': worker.status === 'A', 'bg-danger': worker.status === 'B'}" class="status-icon"></span> {{worker.status}}
                    </td>
                    <td>
                        <a class="icon" href="#detailsWorker-{{worker._id}}"  role="button" data-toggle="modal">
                            <i class="fe fe-eye mr-2" style="color:blue;" data-toggle="tooltip" title="Ver"></i>
                        </a>
                        <a class="icon" href="#editWorker-{{worker._id}}"  role="button" data-toggle="modal">
                            <i class="fe fe-edit mr-2" style="color:orange;" data-toggle="tooltip" title="Editar"></i>
                        </a>
                        <a class="icon" (click)="deactivateWorker(worker._id)" *ngIf="worker.status==='A'">
                            <i class="fe fe-minus-circle mr-2" style="color:red;" data-toggle="tooltip" title="Activar"></i>
                        </a>
                        <a class="icon" (click)="activateWorker(worker._id)" *ngIf="worker.status==='B'">
                            <i class="far fa-check-circle mr-2" style="color:green;" data-toggle="tooltip" title="Desactivar"></i>
                        </a>
                    </td>
                    
                    <!--MODAL EDITAR-->
                    <app-editworker [id]="worker._id"
                                    [name]="worker.name"
                                    [paternal_surname]="worker.paternal_surname"
                                    [maternal_surname]="worker.maternal_surname"
                                    [age]="worker.age"
                                    [address]="worker.address"
                                    [tel]="worker.tel"
                                    [email]="worker.email"
                                    [job]="worker.job._id"
                                    [entry_horary]="worker.entry_horary"
                                    [departure_horary]="worker.departure_horary"
                                    [salary]="worker.salary"
                    ></app-editworker>
                    <!--MODAL EDITAR END-->
                    <!--MODAL DETAILS-->
                    <app-detailsworker [id]="worker._id"
                                    [name]="worker.name"
                                    [paternal_surname]="worker.paternal_surname"
                                    [maternal_surname]="worker.maternal_surname"
                                    [age]="worker.age"
                                    [address]="worker.address"
                                    [tel]="worker.tel"
                                    [email]="worker.email"
                                    [job]="worker.job.name"
                                    [entry_horary]="worker.entry_horary"
                                    [departure_horary]="worker.departure_horary"
                                    [salary]="worker.salary"
                    ></app-detailsworker>
                    <!--MODAL DETAILS END-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--MODAL ALTA-->
<app-addworker></app-addworker>
<!--MODAL ALTA END-->

<app-addjob></app-addjob>