<div class="page-header">
    <h1 class="page-title">Home</h1>
</div>

<div class="row row-cards">
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/usuarios']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-user"></i> {{totalUser}}
                </div>
                
            <div class="text-muted mb-4">Usuarios</div>
            </div>
        </div>
    </div> 

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/empleados']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-user-md"></i> {{totalWorker}}
                </div>
                
            <div class="text-muted mb-4">Empleados</div>
            </div>
        </div>
    </div> 

    
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/clientes']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-user"></i> {{totalClient}}
                </div>
                
            <div class="text-muted mb-4">Clientes</div>
            </div>
        </div>
    </div> 

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/animales']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-paw"></i> {{totalAnimal}}
                </div>
                
            <div class="text-muted mb-4">Mascotas</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/proveedores']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-truck"></i> {{totalProvider}}
                </div>
                
            <div class="text-muted mb-4">Proveedores</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/productos']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fas fa-box"></i> {{totalProduct}}
                </div>
                
            <div class="text-muted mb-4">Productos</div>
            </div>
        </div>
    </div>
</div>

