<div class="row">
  <div class="col-12 card">
      <div class="card-header">
          <h3 class="card-title">Tienda</h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="form-group col-6">
                <label class="form-label">Nombre de Producto/Servicio</label>
                <select class="form-control custom-select busq" id="cliente" [(ngModel)]="seleccionProducto">
                    <option [value]="null" >Selecciona...</option>
                    <option *ngFor="let product of products; index as i" [value]="product._id">{{product.description}}</option>
                </select>
                </div>
              <div class="col-md-2 col-lg-2">
                <br>
                <button type="button" class="btn btn-primary" (click)="agregarProducto()">
                    <i class="fe fe-plus-circle mr-2"></i>
                    Agregar
                </button>
            </div>
            <div class="form-group col-3">
                <label class="form-label">Cliente</label>
                <select class="form-control custom-select busq" id="cliente" [(ngModel)]="seleccionCliente">
                    <option [value]="null">Selecciona...</option>
                    <option *ngFor="let client of clients; index as i" [value]="client._id">{{i+1}}.- {{client.name + " " + client.paternal_surname + " " + client.maternal_surname}}</option>
                </select>
            </div>
          </div>
      </div>
  </div>
  <div class="col-12 card">
      <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
              <thead>
                  <tr>
                      <th class="w-1">#</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Total</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let saledetail2 of saledetails; index as i">
                    <td><span class="text-muted">{{i+1}}</span></td>
                    <td>{{saledetail2.name}}</td>
                    <td>{{saledetail2.price}}</td>
                    <td><input class="cantidad busq" min="1" type="number" value="{{saledetail2.quantity}}"  [(ngModel)]="saledetail2.quantity" (change)="cambiarTotal(i)" required></td>
                    <td>{{saledetail2.amount}}</td>
                  <td>
                      <a class="icon" (click)="eliminarProducto(i)">
                          <i class="fe fe-minus-circle mr-2" style="color:red;"></i>
                      </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="col-4 card ml-auto">
      <div class="card-body">
          <h3>Total: {{totalVenta}}</h3>
      </div>

      <div class="card-footer text-right">
        <div class="d-flex">
          <button type="button" class="btn btn-success" (click)="this.openModalInfo(confirmar);" [disabled]="this.saledetails.length == 0">
              <i class="fe fe-check-circle mr-2"></i>
              Confirmar
          </button>
          <button type="button" class="btn btn-danger ml-auto" (click)="cancelarVenta()" [disabled]="this.saledetails.length==0">
              <i class="fe fe-minus-circle mr-2"></i>
              Cancelar
          </button>
        </div>
      </div>
  </div>
</div>

<!--MODAL INFO-->
<ng-template #information let-modal>
    <div class="modal-header">
        <h4 class="modal-title">INFORMACION</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <h5 class="form-label">El Producto/Servicio seleccionado ya fue agregado</h5>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
    </div>
</ng-template>
<!--MODAL INFO-->

<!--MODAL INFO-->
<ng-template #information2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">ERROR</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <h5 class="form-label">No hay existencias del producto seleccionado</h5>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger cerrar" (click)="modal.dismiss()">Cerrar</button>
    </div>
</ng-template>
<!--MODAL INFO-->

<!--MODAL INFO-->
<ng-template #information3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">ERROR</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <h5 class="form-label">No hay suficientes existencias del producto: <strong>{{NombreProducto}}</strong></h5>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger cerrar" (click)="modal.dismiss()">Cerrar</button>
    </div>
</ng-template>
<!--MODAL INFO-->

<!--MODAL CONFIRMAR-->
<ng-template #confirmar let-modal>
    <div class="modal-header">
        <h4 class="modal-title">CONFIRMAR VENTA</h4>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"></button>   
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <h3>Total: &nbsp; {{totalVenta}}</h3><br>
            <h3>Importe: &nbsp;</h3><input type="number" class="form-control col-4 busq" style="margin-left:30%" [(ngModel)]="importeVenta" (change)="cambiarCambioVenta()"><br>
            <h3>Cambio: &nbsp; {{cambio}} </h3>  
        </div>  
        
        <div class="alert alert-success" *ngIf="status == 'success'">
            Se ha registrado la venta exitosamente.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning cerrar" (click)="modal.dismiss()">Cerrar</button>
        <input type="submit" class="btn btn-success" value="Confirmar" name="enviar" id ="enviar" (click)="onSubmitAddSale()" [disabled]="cambio < 0 || importeVenta < totalVenta">
    </div>
</ng-template>
<!--MODAL CONFIRMAR-->