<div class="row">
  <div class="col-12 card">
      <div class="card-header">
          <h3 class="card-title">Tienda</h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="input-icon mb-3 search">
                  <input type="text" class="form-control" placeholder="ID o Nombre de Producto o Servicio...">
                  <span class="input-icon-addon">
                      <i class="fe fe-search"></i>
                  </span>
              </div>
              <div class="col-md-1 col-lg-1">
                  <button type="button" class="btn btn-primary">
                      <i class="fe fe-plus-circle mr-2"></i>
                      Agregar
                  </button>
              </div>
          </div>
      </div>
  </div>
  <div class="col-12 card">
      <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
              <thead>
                  <tr>
                      <th class="w-1">ID</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>IVA</th>
                      <th>Total</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <td><span class="text-muted">1</span></td>
                  <td>Baño</td>
                  <td>100</td>
                  <td><input class="cantidad" type="number" value="1"></td>
                  <td>16</td>
                  <td>116</td>
                  <td>
                      <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-minus-circle mr-2" style="color:red;"></i>
                      </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="col-4 card ml-auto">
      <div class="card-body">
          <h3>Total: 116</h3>
      </div>

      <div class="card-footer text-right">
        <div class="d-flex">
          <button type="button" class="btn btn-success">
              <i class="fe fe-check-circle mr-2"></i>
              Confirmar
          </button>
          <button type="button" class="btn btn-danger ml-auto">
              <i class="fe fe-minus-circle mr-2"></i>
              Cancelar
          </button>
        </div>
      </div>
  </div>
</div>
