<div class="modal" id="addWorker" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true" style="overflow-y: scroll;">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">NUEVO EMPLEADO</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
      </div>

      <div class="modal-body">
          <form [formGroup]="workerForm" (ngSubmit)="onSubmit()">  

            <div class="form-group">
              <label for="nombre">Nombre </label>&nbsp;
              <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.name.invalid && workerForm.controls.name.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
              <div class="input-icon">
                  <span class="input-icon-addon">
                      <i class="fe fe-user"></i>
                  </span>
                <input class="form-control" id="name" name="name" type="text" formControlName="name"> 
              </div>  
            </div>

            <div class="form-group">
                <div class="row gutters-xs">
                    <div class="col-6">
                      <label for="app">Apellido Paterno</label>&nbsp;
                      <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.paternal_surname.invalid && workerForm.controls.paternal_surname.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                      <input class="form-control" id="paternal_surname" name="paternal_surname" type="text" formControlName="paternal_surname">
                    </div>
                    <div class="col-6">
                      <label for="app">Apellido Materno</label>&nbsp;
                      <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.maternal_surname.invalid && workerForm.controls.maternal_surname.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                      <input class="form-control" id="maternal_surname" name="maternal_surname" type="text" formControlName="maternal_surname">
                    </div>
                </div>  
            </div>
            
            <div class="form-group">
              <label for="direccion">Dirección</label>&nbsp;
              <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.address.invalid && workerForm.controls.address.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
              <textarea class="form-control" rows="2" id="address" name="address" formControlName="address"></textarea>
            </div>
            
            <div class="form-group">
              <div class="row gutters-xs">
                <div class="col-8">
                  <label for="telefono">Teléfono</label>&nbsp;
                  <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.tel.invalid && workerForm.controls.tel.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                  <div class="input-icon">
                      <span class="input-icon-addon">
                          <i class="fe fe-phone"></i>
                      </span>
                    <input class="form-control" id="tel" name="tel" type="text" formControlName="tel">
                  </div>
                </div>
                <div class="col-4">
                  <label for="edad">Edad</label>&nbsp;
                  <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.age.invalid && workerForm.controls.age.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                  <input class="form-control" id="age" name="age" type="number"formControlName="age">
                </div>
              </div>
            </div> 

            <div class="form-group">
              <label for="email">Email</label>&nbsp;
              <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.email.invalid && workerForm.controls.email.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
              <div class="input-icon">
                  <span class="input-icon-addon">
                      <i class="fe fe-mail"></i>
                  </span>
                  <input class="form-control" id="email" name="email" type="email" formControlName="email">
              </div>  
            </div>

            <div class="row gutters-xs">
              <div class="col-6">
                <label for="salary">Salario</label>&nbsp;
                <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.salary.invalid && workerForm.controls.salary.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                <input class="form-control" id="salary" name="salary" type="text" formControlName="salary">
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="puesto">Puesto</label>&nbsp;
                  <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.job.invalid && workerForm.controls.job.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
            
                  <div class="input-group">
                    <select class="form-control custom-select" id="job" formControlName="job"> 
                      <option value="">Seleccionar...</option>
                      <option *ngFor="let job of jobs; index as i" [value]="job._id">{{i+1}}.- {{job.name}}</option>
                    </select>
                    <span class="input-group-append">
                      <button class="btn btn-primary" type="button" data-toggle="modal" href="#addJob"><i class="fe fe-plus-circle"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <label for="">Horario</label>
            <div class="form-group">
              <div class="row gutters-xs">
                  <div class="col-6">
                    <label for="entrada">Entrada</label>&nbsp;
                    <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.entry_horary.invalid && workerForm.controls.entry_horary.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                    <input class="form-control" id="entry_horary" name="entry_horary" type="time" value="00:00:00" step="1" formControlName="entry_horary"> 
                  </div>
                  <div class="col-6">
                    <label for="salida">Salida</label>&nbsp;
                    <i class="fas fa-exclamation-circle" style="color:red;" *ngIf="workerForm.controls.departure_horary.invalid && workerForm.controls.departure_horary.touched" data-toggle="tooltip" title="Falta llenar campo"></i>
                    <input class="form-control" id="departure_horarydeparture_horary" name="departure_horary" type="time" value="00:00:00" step="1" formControlName="departure_horary"> 
                  </div>
              </div>  
            </div>

            <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
            </div>

            <br>
            <div class="modal-footer d-flex">
              <button type="button" class="btn btn-warning cerrar" (click)="cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
              <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar">
            </div>

          </form>
      </div>
    </div>
  </div>
</div> 
    
  
