<div class="modal" id="addUser" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">NUEVO USUARIO</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
      </div>

      <div class="modal-body">
          <form action="" method="POST">  

            <div class="form-group">
              <label for="nombre">Nombre de usuario</label>
              <div class="input-icon">
                  <span class="input-icon-addon">
                      <i class="fe fe-user"></i>
                  </span>
                <input class="form-control" id="nombre" name="nombre" type="text" required> 
              </div>  
            </div>

            <div class="form-group">
              <label class="empleado">Empleado</label>
        
              <div class="input-group">
                <select class="form-control custom-select" id="empleado">
                  <option value="">Seleccionar...</option>
                </select> 
                <span class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="tipo">Tipo</label>
        
              <div class="input-group">
                <select class="form-control custom-select" id="tipo">
                  <option value="">Seleccionar...</option>
                </select> 
                <span class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Contraseña</label>
              <input class="form-control" id="password" name="password" type="text" required> 
            </div>

            <div class="form-group">
              <label for="verPassword">Verificar Contraseña</label>
              <input class="form-control" id="verPassword" name="verPassword" type="text" required> 
            </div>

            <div id="alert" class=""><strong id="tituloMensaje"></strong><span id="mensajes"></span></div>
          </form>
      </div>

      <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar">
        <button type="button" class="btn btn-warning cerrar" data-dismiss="modal" name="cerrar">Cerrar</button>
      </div>
    </div>

  </div>
</div> 
