<div class="modal" id="addActivity" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">NUEVA ACTIVIDAD</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
        </div>
  
        <div class="modal-body">
            <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">  
  
              <div class="form-group">
                  <div class="row gutters-xs">
                      <div class="col-6">
                          <label for="cliente">Cliente</label>
                          <select class="form-control custom-select" id="client" name="client" formControlName="client">
                            <option value="">Seleccionar cliente...</option>
                          </select> 
                      </div>
  
                      <div class="col-6">
                          <label for="mascota">Mascota</label>
                          <select class="form-control custom-select" id="animal" name="animal" formControlName="animal">
                            <option value="">Seleccionar mascota...</option>
                          </select> 
                      </div>
                  </div>  
              </div>
              
              <div class="form-group">
                  <div class="row gutters-xs">
                    <div class="col-6">
                      <label for="fecha">Fecha</label>
                      <div class="input-icon">
                        <span class="input-icon-addon">
                            <i class="fe fe-calendar"></i>
                        </span> 
                        <input class="form-control" id="date" name="date" formControlName="date" type="date"> 
                      </div>
                    </div>
      
                    <div class="col-6">
                      <label for="hora">Hora</label>
                      <div class="input-icon">
                        <span class="input-icon-addon">
                            <i class="fe fe-clock"></i>
                        </span> 
                        <input class="form-control" id="time" name="time" formControlName="time" type="time" value="00:00:00" step="1">  
                      </div>
                    </div>
                  </div>  
              </div>

              <div class="form-group">
                <label for="service">Servicio</label>
                <select class="form-control custom-select" id="service" name="service" formControlName="service">
                  <option value="">Seleccionar...</option>
                </select>   
              </div>

              <div class="form-group">
                <label for="worker">Empleado</label>
                <select class="form-control custom-select" id="worker" name="worker" formControlName="worker">
                  <option value="">Seleccionar...</option>
                </select>   
              </div>

              <div class="form-group">
                <label for="notes">Notas</label>
                <textarea class="form-control" rows="2" id="notes" name="notes" formControlName="notes"></textarea>   
              </div>
  
              <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
              </div>

              <br>
              <div class="modal-footer d-flex">
                <button type="button" class="btn btn-warning cerrar" (click)="cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
                <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" [disabled]="!activityForm.valid">
              </div>

            </form>
        </div>
      </div>
  
    </div>
  </div> 
