<div class="modal" id="addProduct" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">NUEVO PRODUCTO</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>   
        </div>
  
        <div class="modal-body">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
  
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input class="form-control" type="text" id="description" name="description" formControlName="description"> 
              </div>
  
              <div class="form-group">
                  <div class="row gutters-xs">
                      <div class="col-6">
                        <label for="precio">Precio</label>
                        <input class="form-control" type="text" id="price" name="price" formControlName="price"> 
                      </div>
                      <div class="col-6">
                        <label for="costo">Costo</label>
                        <input class="form-control" type="text" id="cost" name="cost" formControlName="cost"> 
                      </div>
                  </div>  
              </div>
              
              <div class="form-group">
                <label for="proveedor">Proveedor</label>
                <select class="form-control custom-select" id="provider" name="provider" formControlName="provider">
                  <option value="">Seleccionar proveedor...</option>
                </select>   
              </div>

              <div class="row gutters-xs">
                <div class="col-6">
                  <div class="form-group">
                    <label class="unidadMedida">Unidad de Medida</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="measurementunit" name="measurementunit" formControlName="measurementunit">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="col-6">
                  <div class="form-group">
                    <label class="tipo">Tipo</label>
              
                    <div class="input-group">
                      <select class="form-control custom-select" id="typeproduct" name="typeproduct" formControlName="typeproduct">
                        <option value="">Seleccionar...</option>
                      </select> 
                      <span class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fe fe-plus-circle"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row gutters-xs">
                  <div class="col-6">
                    <label for="stockMinimo">Stock Mínimo</label>
                    <input class="form-control" type="number" id="stock_min" name="stock_min" formControlName="stock_min">
                  </div>
                  <div class="col-6">
                    <label for="stockMaximo">Stock Máximo</label>
                    <input class="form-control" type="number" id="stock_max" name="stock_max" formControlName="stock_max">
                  </div>
                </div>
              </div> 
  
              <div class="alert alert-success" *ngIf="status == 'success'">
                Guardado exitosamente.
              </div>

              <br>
              <div class="modal-footer d-flex">
                <button type="button" class="btn btn-warning cerrar" (click)="cerrar()" data-dismiss="modal" name="cerrar">Cerrar</button>
                <input type="submit" class="btn btn-success" value="Guardar" name="enviar" id ="enviar" [disabled]="!productForm.valid">
              </div>
            </form>
        </div>
      </div>
  
    </div>
  </div>
