<div class="page-header">
    <h1 class="page-title">Home</h1>
</div>

<div class="row row-cards">
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fe fe-user"></i> 13
                </div>
                
            <div class="text-muted mb-4">Usuarios</div>
            </div>
        </div>
    </div> 

    
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link" [routerLink]="['/cliente']">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fe fe-users"></i> 13
                </div>
                
            <div class="text-muted mb-4">Clientes</div>
            </div>
        </div>
    </div> 

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <img src="../../assets/img/icons/pet-icon.png" class="header-brand-img" alt="pet-icon">13
                </div>
                
            <div class="text-muted mb-4">Mascotas</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <i class="fe fe-truck"></i> 13
                </div>
                
            <div class="text-muted mb-4">Proveedores</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card nav-link">
            <div class="card-body p-3 text-center">
                
                <div class="h2 m-4">
                    <img src="../../assets/img/icons/item.png" class="header-brand-img" alt="pet-icon"> 13
                </div>
                
            <div class="text-muted mb-4">Productos</div>
            </div>
        </div>
    </div>
</div>

